.projects{
    background: white;
}

.projectCard__container{
    margin-top: 75px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.projects__container{
    min-height: 80vh;
}

.projects__spinner__wrapper{
  display: flex;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}