.rscard__wrapper{
    width: 250px;
    border-radius: 6px;
    border: 1px solid black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.rsheading{
    font-weight: 700;
    text-align: center;
}

.rssummary{
    font-size: small;
    padding-top: 8px;
    text-align: justify;
}

.rsstart{
    width: 100%;
    text-align: center;
}

.rsstart>button{
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background-color:rgba(23, 27, 23, 0.881);
    border: 0.2px rgba(0, 0, 0, 0.26) solid;
}