.forgot__wrapper{
    margin-top: 45px;
    min-height: calc(100vh - 45px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot__container{
    padding: 10px;
    min-height: 300px;
    min-width: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot__form__wrapper{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.forgot__logo{
    height: 80px;
}

.showErr{
    z-index: 1 !important;
}